<table>
  <tbody><span class="loud">Blah</span> <span class="quiet">Blah</span> Blah</tbody>
  <tr><td class="loud">there</td></tr>
  <tr><td>it</td></tr>
  <tr><td class="quiet">IS</td></tr>
</table>
